.no-style-list {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
}

.sensor-item {
    width: 80px;
    height: 80px;
    border: 2px solid white;
    border-radius: 60px;
    display: inline-block;
    color: white;
    padding: 16px;
    margin: 8px;
    background-color: black;
    text-align: center;
}

.sensor-item-header {
    margin-top: 10px;
}

.sensor-item-content {

}
